.boardgame {
  width: 500px;
  margin: auto;
}
.empty {
  width: 98px;
  height: 98px;
  display: inline-block;
  border: 1px solid black;
}
.bunny {
  width: 98px;
  height: 98px;
  display: inline-block;
  background: pink;
  border: 1px solid black;
}
