.boardgame {
  width: 500px;
  margin: auto;
}
.cell {
  margin-top: -5px;
  width: 100px;
  height: 100px;
  display: inline-block;
}
.carrot {
  background: orange;
}
.grass {
  background: green;
}
.water {
  background: blue;
}
.rock {
  background: grey;
}
.log {
  background: brown;
}
.bunny {
  background: pink;
}
