.boardgame {
  width: 500px;
  margin: auto;
}
.cell {
  margin-top: -5px;
  width: 100px;
  height: 100px;
  display: inline-block;
}
.carrot {
  background-image: url("../img/carrot2.jpg");
  background-size: cover;
}
.grass {
  background-image: url("../img/grass.jpg");
  background-size: cover;
}
.water {
  background-image: url("../img/water-06.jpg");
  background-size: cover;
}
.rock {
  background-image: url("../img/rock.jpg");
  background-size: cover;
}
.log {
  background-image: url("../img/log.png");
  background-size: cover;
  
}
.bunny {
  background-image: url("../img/White_Bunny.png");
  background-size: cover;
  background-position: 50% 50%;
}
